body, ul, ol {
    font-family: 'Times New Roman', Times, serif, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.index {
    text-align: center;
 
    width: 700px;
    margin: 20px auto;
    border: solid 3px;
    border-color: rgb(207, 56, 56);
    background-color: rgb(255, 209, 83);
    text-shadow: rgb(243, 9, 9) 1px 0px 10px;
}

.list a,
.container,
.button {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.list ul, li {
    display: inline-block;
    padding: 15px;
    list-style-type: none;
}

.odin {
    font-size: 50px;
    text-align: center;
}

.button {
    border: solid 3px;
    border-color: rgb(0, 0, 0);
    display: block;
    background-color: rgb(255, 123, 83);
    margin: 20px 0 10px 0px;
    padding: 10px 25px 10px 25px;
    text-align: center;
}

.container {
    box-sizing: border-box;
    border: solid 3px;
    border-color: rgb(207, 56, 56);
    width: 800px;
    margin: 20px auto;
    padding: 35px;
    background-color: rgb(255, 209, 83);
}

.container h1, h2, h3 {
    text-align: center;
}

.list ul, ol, li {
   text-decoration: none;
}

img {
    border: solid 3px;
    border-color: rgb(207, 56, 56);
    width: 100%

}

